<div class="container container-small new-item-container">
    <input class="form-control" id="new-item" title="New item" autofocus disabled autocomplete="off"/>
</div>
<div class="container container-small item-container">
    <ul class="list-group"></ul>
</div>
