body {
  font: 14px Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.bg-dark {
  .list-group-item {
    border-color: rgba(255, 255, 255, 0.125);
  }

  li {
    border: 1px solid #ced4da;
  }

  .three-dots {
    color: unset;
  }
}

.title {
  max-width: calc(100% - 80px);
  margin-right: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

#status {
  &.red {
    color: red;
  }

  &.green {
    color: green;
  }
}

#users {
  &:before {
    content: "(";
  }

  &:after {
    content: " here)";
  }
}

.navbar {
  background-color: inherit;
}

.navbar-text {
  margin-right: 20px;
}

.new-item-container {
  z-index: 2;
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: inherit;
}

.item-container {
  margin-top: 115px;
}

#new-item {
  margin: 10px 0 0;
}

ul {
  margin-bottom: 15px !important;

  li {
    padding: 0 0 0 1rem !important;
    display: flex !important;
    flex-direction: row;
    overflow: hidden;
    background-color: inherit !important;

    &.typing {
      color: #949494;
    }

    &.checked {
      .item-text {
        text-decoration: line-through;
        color: #949494;
        overflow-x: hidden;
      }

      .item-edit {
        color: #949494;
        cursor: auto;
      }
    }

    .item-check, .item-text, .item-edit {
      cursor: pointer;
    }

    .item-check {
      flex-shrink: 0;
      align-self: center;
      min-width: 12px;
      margin-right: 0.5rem;
    }

    .item-text {
      align-self: flex-end;
      flex-grow: 1;
      margin: 0;
      padding: 1rem 0;
      overflow-x: scroll;
    }

    .item-edit {
      flex-shrink: 0;
      align-self: center;
      margin-left: 0.5rem;
      padding: 1rem;
      line-height: 24px;
    }
  }

  button.list-group-item {
    cursor: pointer;
  }
}

.container-small {
  max-width: 500px !important;
}

.three-dots {
  font-size: 1.7em;
  color: #2e2e2e;

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: '\2807';
  }
}

.autocomplete-suggestions {
  border: 1px solid #ced4da;
  border-radius: 4px;
  background: inherit;
  overflow: auto;
  color: inherit;
}

.autocomplete-suggestion {
  padding: 3px 12px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000000;
}
