body {
  font: 14px Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#clear-button {
  cursor: pointer;
}

#status {
  margin-left: 5px;

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }
}

#users {
  &:before {
    content: "(";
  }

  &:after {
    content: " here)";
  }

  margin-right: 10px;
}

.new-item-container {
  z-index: 2;
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
}

.item-container {
  margin-top: 115px;
}

#new-item {
  margin: 10px 0 0;
}

ul {
  margin-bottom: 15px !important;

  li {
    &.typing {
      color: #949494;
    }

    &.checked {
      label {
        text-decoration: line-through;
        color: #949494;
      }

      .item-edit {
        color: #949494;
        cursor: auto;
      }
    }

    .item-edit, label, input[type=checkbox] {
      cursor: pointer;
    }

    input[type=checkbox] {
      margin-right: 10px;
    }

    label {
      margin-top: 3px;
      margin-bottom: 0;
      overflow-wrap: break-word;
      width: calc(100% - 50px);
    }

    .item-edit {
      margin: 8px 0 8px 8px;
    }
  }
}

.container-small {
  max-width: 500px !important;
}
